.TokenPuzzle {
    background-color: #282c34;
    padding: 8px;
    margin: 8px;
    width: 72px;
    height: 72px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.TokenPuzzle--clipped {
}

.TokenPuzzle__Label {
    white-space: nowrap;
}
