:root {
    --c-primary: #395ff6;
    --c-primary-active: #3051d1;
    --c-secondary: #6ad592;
    --c-secondary-active: #6ad592;
    --c-long-token: #6ad592;
    --c-short-token: #ef6887;
}

body {
    margin: 0;
    font-family: Avenir, sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

a {
    color: var(--c-primary);
}

/* Screens */

.landing-screen {
    background-color: #fff;
    padding: 64px 128px;
}
.landing-screen__content {
}
.landing-screen__connect-button {
    float: left;
    margin-right: 16px;
}

.landing-screen__wallet-icons {
}

.dashboard-screen {
    height: 100vh;
    padding-top: 32px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 704px auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
        'tokens headline templates'
        'tokens configurator templates'
        'tokens configurator templates'
        'tokens footline prices';
    background-color: #f5f6fa;
}
.dashboard-screen__tokens {
    grid-area: tokens;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-screen__headline {
    grid-area: headline;
    text-align: center;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 16px 16px 0px 0px;
    padding: 8px 40px;
    box-sizing: border-box;
}
.dashboard-screen__configurator {
    grid-area: configurator;
    background-color: #fff;
    padding: 24px 40px;
    box-sizing: border-box;
}
.dashboard-screen__footline {
    grid-area: footline;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 8px 40px;
}
.dashboard-screen__bundle-templates {
    grid-area: templates;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-screen__current-prices {
    grid-area: prices;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-screen__tokens > section,
.dashboard-screen__bundle-templates > section,
.dashboard-screen__current-prices > section {
    width: 248px;
}
.dashboard-screen__footline > p {
    font-size: 12px;
    line-height: 16px;
}
/* Modals */

/* Components */

.headline {
    color: #000;
    font-size: 16px;
    line-height: 22px;
}
.headline--primary {
}
.headline--secondary {
}
.headline--logo {
    color: var(--c-primary);
}
.headline--hero {
}

.button {
}
.button--primary {
}
.button--secondary {
}
.button--loading {
}

.wallet-icon {
    display: inline-block;
    margin: 2px;
}
.wallet-icon__image--inactive {
    filter: brightness(0.5) invert(0.5);
}

.puzzle-token {
    margin: 8px;
    padding: 4px 14px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 54px;
    background: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    position: relative; /* this is important for :after, :before) */
}

/* higlight by tiny vertical line with color on backround */
.puzzle-token--short::before,
.puzzle-token--long::before {
    content: '';
    border-radius: 4px 0 0 4px; /* copy parent rouded corners */
    position: absolute;
    top: 0;
    width: 4px;
    left: 0;
    bottom: 0;
}
.puzzle-token--short::before {
    background: var(--c-short-token);
}
.puzzle-token--long::before {
    background: var(--c-long-token);
}

/* Add icont like the box can  by drag'n'dropped */
.puzzle-token--draggable::after {
    content: '...';
    display: block;

    position: absolute;
    top: 4px;

    right: 18px;
    bottom: 4px;
    transform: rotate(90deg);
    color: #d6dbe3;
    font-size: 24px;
    font-weight: 600;
    /*  */
}

/* make flex working */
.puzzle-token > span {
    display: block;
}
